@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="page">
    @Body
</div>




@code {

    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    protected async override Task OnInitializedAsync()
    {
        base.OnInitializedAsync();

        var authState = await AuthStat;
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var targetPage = NavigationManager.Uri;
            if (targetPage.EndsWith("/login", StringComparison.OrdinalIgnoreCase))
            {
                NavigationManager.NavigateTo("./home");
            }
        }
        else
        {
            NavigationManager.NavigateTo($"./login");
        }
    }

}
