@page "/"
@layout EmptyLayout

@using StudyCenter.Web.UI.Shared
@using StudyCenter.Web.UI.Components
@using System
@inject IConfiguration configuration

<NavbarWTK />

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<p>Welcome to your new Blazor app.</p>

<div>
    <h2>Current Date and Time</h2>
    <p>@DateTime.Now.ToString("F")</p>
</div>

<div>
    <h2>Click the button to increment the counter</h2>
    <p>Current count: @currentCount</p>
    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
